* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #fafafb;
  font-family: 'Inter', sans-serif;
}

section {
  margin-top: 50px;
  @media (max-width: 480px){
    margin-top: 30px;
  }
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #02b0f9;
  font-weight: 400;
  @media (max-width: 480px){
    margin-bottom: 20px;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background: #fff;
  @media (max-width: 480px){
    padding: 14px;
  }
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}