.logo {
  font-size: 2em;
  font-weight: bold;
}

.swiper-slide img {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 1rem;
  min-height: 100vh;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movieItem {
  width: calc(92%/4);
  margin: 0 1% 20px;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  @media (max-width: 480px){
    width: calc(96%/2);
    margin: 0 1% 20px;
  }
}

.movieItem img {
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1.5;
}

.movieItem h2 {
  margin: 10px 0;
  font-size: 1em;
}