.logo {
  font-size: 2.3em;
  font-weight: 400;
  color: #02b0f9;
  text-decoration: none;
  @media (max-width: 480px){
    font-size: 1.5em;
  }
}

.searchForm {
  width: 100%;
}

.searchBox {
  background: #333;
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  @media (max-width: 480px){
    width: 100%;
    padding: 15px;
  }
}

.searchInput {
  height: 2.4em;
  width: 70%;
  padding: 0 16px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searchInput:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.authButton {
  padding: 10px 20px;
  background: #02b0f9;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid transparent;
}

.authButton:hover {
  background: #0199da;
  cursor: pointer;
}
.searchButton {
  height: 2.4em;
  width: 20%;
  border: none;
  background: #02b0f9;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 2px solid transparent;
}

.searchButton:hover {
  background: #0199da;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  min-height: 100vh;
  @media (max-width: 480px){
    padding: 1rem 2%;
  }
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 1600px){
  .movieList  {
    justify-content: flex-start;
  }
}

@media (max-width: 480px){
  .movieList  {
    justify-content: space-between;
  }
}

.movieItem {
  width: calc(92%/4);
  margin: 0 1% 30px;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

@media (max-width: 1920px){
  .movieItem {
    width: calc(84%/8);
    margin: 0 1% 20px;
  }
}

@media (max-width: 1600px){
  .movieItem {
    width: calc(92%/4);
    margin: 0 1% 20px;
  }
}

@media (max-width: 480px){
  .movieItem {
    width: calc(98%/2);
    margin: 0 0 20px;
  }
}

.movieItem img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1.5;
}

.movieItem img:hover {
  cursor: pointer;
  opacity: .8;
}

.movieItem h2 {
  margin: 10px 0;
  font-size: 1em;
  min-height: 50px;
}

.movieItem button {
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: #02b0f9;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 2px solid transparent;
}

.movieLoading {
  margin-top: 30px;
  color: #02b0f9;
  font-size: 1.3em;
}

.movieNothing {
  margin-top: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalContent {
  position: relative;
  background-color: #000;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: 480px){
    width: 94%;
  }
}

.modalContent img, .modalContent iframe {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: none;
}

.modalText {
  padding: 20px 20px 40px;
  width: 100%;
  color: #fff;
  @media (max-width: 480px){
    padding: 20px;
  }
}

.modalText h2 {
  margin-bottom: 20px;
}

.modalOverview {
  margin-bottom: 20px;
}

.cast {
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 20px;
}

.runtime {
  margin-bottom: 20px;
}

.date {
  margin-bottom: 20px;
}

.productionCountries {
  margin-bottom: 0;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  @media (max-width: 480px){
    top: 10px;
    right: 10px;
  }
}

.closeButton span {
  color: #fff;
  background: transparent;
  font-size: 30px;
  border: none;
}

.closeButton:hover,
.closeButton:focus {
  opacity: .8;
}

#youtube-area{
  height: 90vh;
  background: #000;
}

@media (max-width: 800px){
  #youtube-area{
    height: 50vh;
  }
}

#youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.userInfoForm {
  display: flex;
  flex-direction: column;
}